{% extends 'base.html' %}

{% block contents %}

{% for blog in posts %}
    <div class="container"><br>
        <div class="card">
            <div class="card-body">
                <h1 class="card-title"> {{blog.title}} </h1>
                <h6 class="class-subtitle mb-2 text-muted"> {{blog.pub_date}} </h6>
                <hr>
                <p class="card-text" style= "text-align: center;"> {{blog.summary}} <a href ="{% url 'detail' blog.id %}" class="card-link">...more</a></p>
            </div>
        </div> <br>
    </div>
{% endfor %}


{# First Previous 3 of 4 Next Last #}
<div class = "container" style="text-align : center; clear: both;">

{# First Previous #}

{% if posts.has_previous %}
<a href = "?page=1"> First </a>
<a href = "?page={{posts.previous_page_number}}">Previous</a>
{% endif %}

{# 3 of 4 #}
<span>{{posts.number}}</span>
<span>of</span>
<span>{{posts.paginator.num_pages}}</span>

{# Next Last #}
{% if posts.has_next %}
<a href = "?page={{posts.next_page_number}}">Next</a>
<a href = "?page={{posts.paginator.num_pages}}">Last</a>
{% endif %}
</div>

{% endblock %}

</html>